@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

:root {
--primary-color: rgb(150, 65, 255);
--background: #121212;
--on-background: rgb(255, 255, 255);

--navColor1: #0A0A0A;
--navColor2: #141414;
--navColor3: #1F1F1F;
--navColor4: #292929;
--navColor5: #333333;
}
[data-theme="light"] {
--primary-color: #ff2d2d;
--background: rgb(245, 245, 245);
--on-background: rgb(0, 0, 0);
--box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);

--navColor1: #FFFFFF;
--navColor2: #F5F5F5;
--navColor3: #EBEBEB;
--navColor4: #E0E0E0;
--navColor5: #D6D6D6;
}

html {
box-sizing: border-box;
scroll-behavior: smooth;
}

body {
margin: 0;
color: var(--primary-color);
background-color: var(--background);
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23424242' fill-opacity='0.08'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
font-family: Nunito, sans-serif;
font-weight: bold;
}

/* Dark Mode Toggle Switch code below*/
.theme-switch-wrapper {
display: flex;
align-items: center;
z-index: 10;
position:fixed;
top: 1rem;
right: 1.5rem;
}
.theme-switch {
display: inline-block;
height: 32px;
position: relative;
width: 60px;
}
.theme-switch input {
display: none;
}
.slider {
background: var(--on-background);
bottom: 0;
cursor: pointer;
left: 0;
position: absolute;
right: 0;
top: 0;
transition: 0.4s;
}
.slider::before {
background: var(--background);
bottom: 4px;
content: "";
height: 24px;
left: 4px;
position: absolute;
transition: 0.4s;
width: 24px;
}
input:checked + .slider {
background-color: var(--on-background);
}
input:checked + .slider::before {
transform: translateX(26px);
}
.slider.round {
border-radius: 34px;
}
.slider.round::before {
border-radius: 50%;
}
/* Dark Mode Toggle Switch. Code above*/

/* --- Navigation Menu ------------------------------ */

/* Overlay */
.overlay {
position: fixed;
z-index: 9;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
/* background-color: rgba(0, 0, 0, 0.7); */
transform: translateX(-100vw);
}

.overlay-slide-right {
transition: all 0.4s ease-in-out;
transform: translateX(0);
}

.overlay-slide-left {
transition: all 0.8s ease-in-out;
transform: translateX(-100vw);
}

/* Nav Menu Items */
nav,
nav ul {
height: 100vh;
margin: 0;
padding: 0;
}
nav ul {
display: flex;
flex-direction: column;
justify-content: stretch;
list-style: none;
}
nav ul li {
height: 20%;
overflow: hidden;
}
nav li a {
position: relative;
top: 45%;
color: var(--primary-color);
text-transform: uppercase;
letter-spacing: 4px;
text-decoration: none;
display: block;
text-align: center;
}
nav li a:hover {
transform: scale(1.2);
}

nav li a::before {
content: "";
width: 25vw;
height: 3px;
background-color: var(--on-background);
position: absolute;
top: 47.5%;
left: 0;
opacity: 0;
}

nav li a:hover::before {
opacity: 1;
}

nav li:nth-of-type(1) {
background-color: var(--navColor1);
}

nav li:nth-of-type(2) {
background-color: var(--navColor2);
}

nav li:nth-of-type(3) {
background-color: var(--navColor3);
}

nav li:nth-of-type(4) {
background-color: var(--navColor4);
}

nav li:nth-of-type(5) {
background-color: var(--navColor5);
}

/* Slide in animation with delay for each */
.slide-in-1 {
animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
animation: slide-in 0.4s linear 1s both;
}

@keyframes slide-in {
from {
  transform: translateX(-100%);
}

to {
  transform: translateX(0);
}
}

/* Slide out animation with delay for each */
.slide-out-1 {
animation: slide-out 0.3s linear 0.5s both;
}

.slide-out-2 {
animation: slide-out 0.3s linear 0.4s both;
}

.slide-out-3 {
animation: slide-out 0.3s linear 0.3s both;
}

.slide-out-4 {
animation: slide-out 0.3s linear 0.2s both;
}

.slide-out-5 {
animation: slide-out 0.3s linear 0.1s both;
}

@keyframes slide-out {
from {
  transform: translateX(0);
}

to {
  transform: translateX(-100%);
}
}

/* --- Menu Bars ------------------------------------ */

.menu-bars {
  position: fixed;
  top: 1rem;
  left: 1.5rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
width: 35px;
height: 4px;
background-color: #fff;
margin: 8px 0;
transition: 0.4s;
background-color: var(--on-background);
}

/* Rotate first bar */
.change .bar1 {
transform: rotate(-45deg) translate(-10px, 10px);
}

/* Fade out the second bar */
.change .bar2 {
opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
transform: rotate(45deg) translate(-6px, -8px);
}

/* --- Sections ------------------------------------ */

section {
width: 100%;
min-height: 100vh;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
letter-spacing: 2px;
padding: 10px 0; 
}

/* Home section. Code below */
section.home h1 {
  position: absolute;
  top: 5%;
  left: 10%;
  color: var(--primary-color);
}
section.home p {
  font-size: 6rem;
  line-height: 0%;
}
section.home .line {
  width: 25%;
  height: 0.5px;
  border: 6px solid;
  border-radius: 10px;
}
section.home p.small-text {
  font-size: 1.1rem;
  line-height: 100%;
  width: 50%;
  padding: 2% 0;
}
/* Home section. Code above */

/* Projects section. Code below */
.projects {
  background-color: rgb(0 0 0 / 0.2);
}
.cards-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
padding-bottom: 20px;
}
.card-container {
text-align: center;
background-color: var(--background);
border: 1px solid var(--primary-color);
border-radius: 10px;
padding: 10px;
margin: 10px;
width: auto;
box-shadow: var(--box-shadow);
}
img {
max-width: 100%;
height: auto;
}
/* projects section code above */

/* contact section code below */
.fab, .fas {
font-size: 100px;
cursor: pointer;
margin-right: 25px;
color: var(--primary-color);
text-decoration: none;
}
.fab:hover, .fas:hover {
color: var(--on-background);
}
/* contact section code above */

/* button code bellow */
.pushable {
position: relative;
border: none;
background: transparent;
padding: 0;
cursor: pointer;
outline-offset: 4px;
transition: filter 250ms;
}
.shadow {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border-radius: 10px;
background: hsl(0deg 0% 0% / 0.25);
will-change: transform;
transform: translateY(2px);
transition:
  transform
  600ms
  cubic-bezier(.3, .7, .4, 1);
}
.front {
display: block;
position: relative;
font-family: Nunito, sans-serif;
font-weight: bold;
letter-spacing: 2px;
padding: 4px 14px;
border-radius: 10px;
color: var(--primary-color);
background: var(--on-background);
will-change: transform;
transform: translateY(-2px);
transition:
  transform
  600ms
  cubic-bezier(.3, .7, .4, 1);
}
.allProjectsButton {
font-size: 1.3rem;
padding: 10px 18px;
}
.pushable:hover {
filter: brightness(120%);
}
.pushable:hover .front {
transform: translateY(-4px);
transition:
  transform
  250ms
  cubic-bezier(.3, .7, .4, 1.5);
}
.pushable:active .front {
transform: translateY(-2px);
transition: transform 34ms;
}
.pushable:hover .shadow {
transform: translateY(2px);
transition:
  transform
  250ms
  cubic-bezier(.3, .7, .4, 1.5);
}
.pushable:active .shadow {
transform: translateY(1px);
transition: transform 34ms;
}
.pushable:focus:not(:focus-visible) {
outline: none;
}
/* button code above */

/* Media Query: Large Smartphone (Vertical) */
@media (max-width: 800px) {
  .social-icons {
    display: grid;
  }
  section.home p {
    font-size: 4rem;
  }
  section.home p.small-text {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .social-icons {
    display: grid;
  }
  section.home p {
    font-size: 2rem;
  }
  section.home p.small-text {
    font-size: 0.7rem;
  }
}